.container{
  text-align: center;
  width: 100%;
  padding-bottom: 10%;
}

.text{
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  font-size: large;
  text-align: center;
  margin-top: 30px;
}

div.gallery {
    margin: 30px;
    border: 1px solid #ccc;
    width: 180px;
    float: left;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

