
.cervantes-part {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}

.text {
width: 50%;
margin-left: 10%;
}

.right {
    width: 40%; 
    text-align: center
}

.rightImg {
    width: 50%;
}

figcaption {
    width: 100%;
    padding-top: 10px;
}

figcaption>h5 {
    color:#a80456;
    margin-top: 20px;
    font-size: 1em 
}
